<ion-view title="Print">
  <ion-content has-header="true" padding="true">


 <div class="row airline-row1">
<div class="col col-25">
</div>
 <div class="col col-25 receipt">

    <button class="receipt1" type="button">RECEIPT</button>




     </div><!--col-->

     <div class="col col-25 receipt">



    <button class="receipt1" type="button">CARRY TAGS</button>


     </div><!--col-->




 <div class="col col-25">
</div>
</div><!--airline row-->
 <div class="row airline-row3">

</div>
 <div class="row airline-row2" >
 <div class="col col-33">
</div>
 <div class="col col-33">

   <button type="submit" class="pre-trs air-buton button ">
     PRINT<i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
   </div>
    <div class="col col-33">
</div>
</div>

  </content>
</view>
